* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* common css start */
.display-flex {
  display: flex;
}
.visible {
  display: initial;
}
.hidden {
  display: none;
}
.section-title {
  font-weight: 700;
  font-size: 2.88rem;
  text-align: center;
}
.black-color {
  color: #111111;
}
.black-bgc {
  background-color: #111111;
}
.orange-color {
  color: #fea301;
}
.orange-bgc {
  background-color: #fea301;
}
.skyblue-color {
  color: #01acfd;
}
.skyblue-bgc {
  background-color: #01acfd;
}
.white-color {
  color: #f7f7f7;
}
.white-bgc {
  background-color: #f7f7f7;
}
/* use in banner/footer */
.description {
  font-weight: 400;
  font-size: 1.25rem;
}
.info {
  font-weight: 500;
  font-size: 0.99rem;
  line-height: 1.75rem;
  color: #808080;
}
/* common css end */

/* header part start */
header {
  padding: 0 140px;
  margin: 0 auto;
}
/* nav section start   */
nav {
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
.logo {
  align-items: center;
  justify-content: space-between;
  gap: 11px;
}
.nav-title {
  font-weight: 700;
  font-size: 2rem;
}
.nav-links {
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.nav-link {
  font-weight: 500;
  font-size: 1.25rem;
}
.nav-link:hover {
  font-weight: 700;
}
.link1 {
  font-weight: 700;
}
.link1:hover {
  font-weight: 500;
}
.link3 {
  color: #05d4df;
}
.link4 {
  color: #5d58ef;
}
.nav-btn {
  padding: 10px 60px;
  font-weight: 600;
  font-size: 1.25rem;
  border: 1px solid #f0aa00;
  border-radius: 12px;
}
.nav-btn:hover {
  background-color: #ffff;
  color: #f0aa00;
  transition: 0.7s;
}
.nav-icon i {
  font-size: 2.1rem;
}
.m-tag {
  width: 100%;
  height: 35px;
  font-weight: 500;
  font-size: 1.25rem;
  color: #111111;
}
/* nav section end   */
/* banner section start  */
.banner {
  justify-content: space-between;
  gap: 50px;
}
.banner-content {
  margin: 122px 0 100px;
}
.banner-title {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3.81rem;
  margin-bottom: 24px;
}
.banner-btn {
  padding: 10px 47px;
  font-weight: 700;
  font-size: 1.25rem;
  border: 1px solid gray;
  border-radius: 12px;
  margin-top: 24px;
}
.banner-btn:hover {
  background-color: #fff;
  color: #111111;

  transition: 0.3s;
}
/* banner section end   */
/* header part end */

/* main part start */
/* main part end */

/* footer part start */
/* footer part end */

/* mobile (small >=576px) responsive start */
/* header part start */

/* header part end */
/* main part start */
/* main part end */
/* footer part start */
/* footer part end */
/* mobile (small >=576px) responsive end */
